@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html,body
{
    height: 100%;
}

#clock
{
   
    color: #fff;
    font-family: 'Bungee Shade', cursive;
    font-size: 70px;

    position : relative;
    top: 50%;
    margin-top: -70px;
    text-align: center ;
}

footer
{
    font-family: 'Oswald', sans-serif;
    color: grey;
    font-size: 20px;
    margin:0 110px;
    top: 50%;
    left: 50%;
    transform:  translateY(1200%);
    text-align: center;
    
}
